{% extends "base_generic.html" %}
{% block content %}
  <h1>Author: {{ author }}</h1>
  <p><strong>First Name:</strong> <a href="">{{ author.first_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Last Name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of Death:</strong> {{ author.date_of_birth }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Book</h4>
    {% for copy in author.book_set.all %}
      <hr>
      <a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a>
      <p>
        {{ copy.summary }}
      </p>
      --------------------
    {% endfor %}
  </div>
{% endblock %}